@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-bg-color: #16181E;
    --secondary-bg-color: #21242D;
    --white-color: #F9F9F9;
    --green-color: #00B9AE;
    --low-opacity-title: rgb(249, 249, 249, 0.67);
    --low-opacity-btn: rgb(249, 249, 249, 0.2);
    --descriptions: rgb(249, 249, 249, 0.7);
    --border: rgb(249, 249, 249, 0.1);
}

html {
    width: 100%;
}

body {
    width: 100vw;
    height: 100vh;
}